PORT=3000
API_KEY=change-me
DB_PATH=./database.sqlite

# Community moderation worker
COMMUNITY_MODERATION_ENABLED=false
COMMUNITY_MODERATION_INTERVAL_MS=5000
ROBLOX_GROUP_ID=
ROBLOX_OPEN_CLOUD_API_KEY=

ROBLOX_LIST_MEMBERSHIPS_ENDPOINT=https://apis.roblox.com/cloud/v2/groups/{groupId}/memberships

# Worker endpoint used for setGroupRank role changes. Must include {groupId} and {userId}.
ROBLOX_SET_GROUP_RANK_ENDPOINT_TEMPLATE=https://apis.roblox.com/cloud/v2/groups/{groupId}/members/{userId}:setRole
ROBLOX_SET_GROUP_RANK_METHOD=PATCH